<!doctype html>
<html>
    <head>
        <title>Administration</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container" id="app">
            <div v-if="!authToken">
                <h1>登陆管理界面</h1>
                <form>
                    <div class="form-group">
                        <label for="usernameInput">用户名</label>
                        <input type="text" class="form-control" id="usernameInput" v-model="username" placeholder="用户名">
                    </div>
                    <div class="form-group">
                        <label for="passwordInput">密码</label>
                        <input type="password" class="form-control" id="passwordInput" v-model="password" placeholder="密码">
                    </div>
                    <button type="button" class="btn btn-primary" @click="login">登陆</button>
                </form>
            </div>
            <div v-if="authToken">
                <hr>
                <b>全部博文</b>
                <ul>
                    <li v-for="post in posts">{{ post.title }} <button class="btn btn-light" @click="editingPost = post">编辑</button> <button class="btn btn-danger" @click="deletePost(post.id)">删除</button></li>
                </ul>
                
                <div v-if="editingPost">
                    <input type="text" class="form-control" v-model="editingPost.title" placeholder="标题" />
                    <textarea v-model="editingPost.content" class="form-control" style="height: 200px" placeholder="内容"></textarea>
                    <button type="button" class="btn btn-primary" @click="savePost">保存</button>
                </div>

                <input type="text" class="form-control" v-model="newPostTitle" placeholder="标题" />
                <textarea v-model="newPostContent" class="form-control" style="height: 200px" placeholder="内容"></textarea>
                <button type="button" class="btn btn-primary" @click="newPost">发布</button>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>

        <script src="js/admin.js"></script>
    </body>
</html>