<!doctype html>
<html>
    <head>
        <title>Blog</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container" id="app">
            <hr>
            <h1>我的博客</h1>
            <b>所有博文</b>
            <div v-if="posts.length == 0">
                <br>
                <h2>然而什么都没有 :(</h2>
            </div>
            <div v-for="post in posts">
                <hr></hr>
                <h3>{{ post.title }}</h3>
                <small class="text-muted">{{ post.createTime }}</small>
                <div>{{ post.content }}</div>
            </div>
            <hr>
            <footer>
                <a href="admin.html">管理界面</a>
            </footer>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>

        <script>
            

            var app = new Vue({
                el: '#app',
                data: {
                    posts: []
                },
                mounted: function(){
                    this.loadAllPosts()
                },
                methods: {
                    loadAllPosts: function(){
                        var self = this
                        axios.get("/api/v1/posts").then(function(data) {
                          self.posts = data.data  
                        })
                    }
                }
            })
        </script>
    </body>
</html>